*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(243, 122, 210);
  font-family: sans-serif;
}
h1 {
  text-align: center;
  margin: 1rem;
  color: white;
  font-size: 2rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  color: white;
}
ul li p {
  line-height: 1.3;
  text-align: justify;
}
